# TMDB API 配置
# 获取地址：https://developer.themoviedb.org/docs/getting-started
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_API_KEY=your_api_key_here
TMDB_API_TOKEN=your_api_token_here
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/

# 应用配置
NUXT_PUBLIC_APP_NAME=My Nuxt Movie
NUXT_PUBLIC_APP_DESCRIPTION=A modern movie discovery app built with Nuxt 3
